/*-----------------------------------------------------------------*/
/* GLOBAL SETTINGS
/*-----------------------------------------------------------------*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #182446;
	font-size: 1.5rem;
}

/* CONTAINER AND ROW SETTINGS
	----------------------------------------- */
.container {
	max-width: 1340px;
	margin: 0 auto;
	height: inherit;
}

@media (max-width: 1410px) {
	.container {
		max-width: 1110px;
	}
}

@media (max-width: 1170px) {
	.container {
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media (max-width: 760px) {
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.logo {
		margin: 0;
	}
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: inherit;
}

.row--align-top {
	align-items: flex-start;
	flex-wrap: wrap;
}

.overflow-hidden {
	overflow: hidden;
}

/* FONTS
	----------------------------------------- */

/* roboto-300 - latin_latin-ext */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-display: fallback;
	src: local('Roboto-Light'),
		url('../fonts/roboto-v20-latin_latin-ext-300.woff2') format('woff2');
}
/* roboto-regular - latin_latin-ext */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: fallback;
	src: local('Roboto-Regular'),
		url('../fonts/roboto-v20-latin_latin-ext-regular.woff2') format('woff2');
}
/* roboto-500 - latin_latin-ext */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-display: fallback;
	src: local('Roboto-Medium'),
		url('../fonts/roboto-v20-latin_latin-ext-500.woff2') format('woff2');
}
/* roboto-700 - latin_latin-ext */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-display: fallback;
	src: local('Roboto-Bold'),
		url('../fonts/roboto-v20-latin_latin-ext-700.woff2') format('woff2');
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
	font-family: 'Roboto', sans-serif;
}

/*-----------------------------------------------------------------*/
/* HEADER
/*-----------------------------------------------------------------*/
.header {
	background: #fff;
	z-index: 900;
	height: 108px;
	position: relative;
	border-bottom: none;
	animation: none;
}

.header-position--fixed {
	position: fixed;
	width: 100%;
	border-bottom: 1px solid #c0ceea;
	animation: fadeIn 0.5s ease-in;
}

/* Logo
	----------------------------------------- */
.logo {
	width: 54px;
	height: 54px;
	margin-right: 64px;
}

.logo img {
	width: 100%;
	height: auto;
}

/* Nav
	----------------------------------------- */
@media (min-width: 1201px) {
	.header__nav {
		position: relative;
		display: flex !important;
		justify-content: space-between;
		width: calc(100% - 80px);
	}
}
.main-nav .menu-left,
.side-nav .menu-right {
	display: flex;
}

.menu-left li,
.menu-right li {
	position: relative;
	display: block;
	font-weight: 400;
	line-height: 16px;
	margin-left: 30px;
}

.menu-left li a,
.menu-right li a{
	position: relative;
}

.menu-left li a::after,
.menu-right li a::after {
	position: absolute;
	display: block;
	content: '';
	bottom: -4px;
	left: 0;
	height: 2px;
	width: 0;
	background: #ff6700;
	transition: 0.5s;
	z-index: 999;
}

.menu-left li a:hover::after,
.menu-right li a:hover::after,
.menu__sub-nav li a:hover::after,
.menu-right li:hover > a::after
 {
	width: 100%;
}

.menu-right .eshop-item svg{
	display: inline-block;
	font-weight: 700;
	fill: #ff6700;
	width: 21px;
	height: 17px;
	margin-right: 8px;
	vertical-align: top;
}

.menu-btn {
	display: none;
}

.arrow-btn {
	display: none;
}

.menu__sub-nav {
	display: none;
}

.menu__sub-nav {
	position: absolute;
	visibility: hidden;
	white-space: nowrap;
	opacity: 0;
	left: -30px;
}

@media (min-width: 1201px) {
	.menu-right li:hover > .menu__sub-nav {
		display: block !important;
		visibility: visible;
		opacity: 1;
		border-top: 46px solid rgba(0, 0, 0, 0);
	}
}

.menu__sub-nav li {
	position: relative;
	background: #fff;
	margin: 0;
	padding: 16px 24px;
}

.menu-btn {
	position: relative;
	padding-right: 44px;
	font-size: 1rem;
	letter-spacing: 1.6px;
	font-weight: 600;
	height: 22px;
	color: #182446;
	text-transform: uppercase;
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
}

.menu-btn span {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	display: block;
	width: 35px;
	height: 2px;
	margin: auto;
	transition: 0.3s;
	background: #182446;
}

.menu-btn span::before,
.menu-btn span::after {
	content: '';
	position: absolute;
	width: 32px;
	height: 2px;
	background: #182446;
	transition: 0.5s;
}

.menu-btn span::before {
	top: -8px;
	right: 0;
}

.menu-btn span::after {
	top: 8px;
	right: 0;
}

/* RESPONSIVE CODE
----------------------------------------- */

@media (max-width: 1200px) {
	.header__nav {
		position: absolute;
		display: none;
		left: 0;
		right: 0;
		top: 85px;
		height: calc(100vh - 85px);
		background: #fff;
		z-index: 999;
		overflow: auto;
	}

	.main-nav {
		border-bottom: 1px solid #dbe1e5;
		padding: 16px 0;
	}

	.menu-left,
	.menu-right {
		flex-direction: column;
	}

	.menu-left li a,
	.menu-right li a {
		position: relative;
		display: inline-block;
		padding: 15px 0;
	}

	.menu-left li a::after,
	.menu-right li a::after {
		bottom: 8px;
	}

	.arrow-btn svg {
		display: block;
		width: 19px;
		height: 30px;
	}

	.arrow-btn:hover svg path {
		fill: #ff6700;
	}

	.arrow-btn svg path{
		fill: #182446;
	}

	.arrow-btn {
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		outline: none;
		border: none;
		background: none;
		width: 48px;
		height: 48px;
		z-index: 90;
		transition: transform 0.3s;
	}

	.arrow-btn--rotate {
		transform: rotate(180deg);
	}

	.menu-right li:hover > .menu__sub-nav {
		border-top: 0;
	}
	
	.menu__sub-nav{
		position: static;
		border-top: 0;
		background: #fff;
		z-index: 5;
		opacity: 1;
		visibility: visible;
	}

	.main-nav .menu-left li:hover > a::after,
	.side-nav .menu-right li:hover > a::after {
		width: 100%;
		color: #ff6700;
	}

	.menu__sub-nav li {
		padding: 0;
	}

	.side-nav .menu-right li {
		margin: 0 30px;
	}

	.menu-btn {
		display: block;
	}

	.menu-btn span.active {
		background: rgba(0, 0, 0, 0);
		width: 0;
	}

	.menu-btn span.active::before {
		top: 0;
		transform: rotate(45deg);
		background: red;
	}

	.menu-btn span.active::after {
		top: 0;
		transform: rotate(-45deg);
		background: red;
	}
}

/*-----------------------------------------------------------------*/
/* FOOTER
/*-----------------------------------------------------------------*/

.footer {
	position: relative;
	background: #2b2c4b;
}

.footer .container {
	padding-top: 100px;
	padding-bottom: 130px;
}

.footer__column-title {
	display: block;
	font-size: 1.3rem;
	text-transform: uppercase;
	color: #7f7f9e;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	margin-bottom: 20px;
}

.footer__column {
	width: 25%;
	padding-right: 25px;
}

@media (max-width: 760px) {
	.footer__column {
		width: 50%;
	}
}

.footer__nav-column li {
	font-size: 0.9rem;
	padding: 0 0 15px 0;
}

.footer__nav-column li a {
	position: relative;
	font-size: 1.4rem;
	font-weight: 400;
	display: block;
	color: #fff;
	transition: 0.5s;
	text-decoration: solid underline transparent;
	padding-top: 10px;
}

.footer__nav-column li a:hover {
	text-decoration: underline;
}

.social-icon {
	padding-left: 35px;
}

.fb-icon, .ig-icon, .yt-icon {
	display: inline-block;
	fill: #FFF;
	vertical-align: top;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
}

.footer__copyright {
	border-top: 1px solid #495056;
	padding-top: 30px;
	margin-top: 30px;
	color: #b7b7ca;
	font-size: 1.3rem;
	font-weight: 400;
}

/*-----------------------------------------------------------------*/
/* FAKE SECTIONS
/*-----------------------------------------------------------------*/

.section-2 {
	background: rgb(243, 243, 243);
	height: 100vh;
}

.section-3 {
	background: rgb(209, 209, 209) (199, 195, 195);
	height: 100vh;
}

.section-4 {
	background: rgb(238, 233, 233);
	height: 100vh;
}

/*-----------------------------------------------------------------*/
/* ANIMATIONS
/*-----------------------------------------------------------------*/

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
